body {
    font-family: helvetica;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

p {
    margin: 10px 0;
}

#container {
    position: relative;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.block {
    margin-bottom: 35px;
    border-bottom: dashed 3px #CCC;
    padding-bottom: 35px;
}

    .block:last-child {
        border-bottom: none;
    }

.testimonial {
    position: relative;
    overflow: auto;
}

    .testimonial img {
        position: relative;
        float: left;
        width: 20%;
    }

.quote {
    display: inline-block;
    width: 75%;
    padding: 0 20px;
}

    .quote q {
        display: block;
        font-size: 1.2em;
        margin-bottom: 10px;
        font-style: italic;
    }

    .quote span {
        display: block;
    }

#donate {
    display: none;
    background: #F16623;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    padding: 20px;
}

    #donate > div {
        width: 960px;
        margin: 0 auto;
    }

    #donate .donateButton {
        background: rgba(0,0,0,0.3);
    }

    #donate .donateButton:hover {
        background: rgba(0,0,0,0.1);
    }

.graph {
    display: inline-block;
    width: 600px;
    height: 391px;
    background: #EEE;
}

.donateButton {
    display: inline-block;
    padding: 15px 15px;
    background: #F16623;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.donateButton:hover {
    background: #d1591d;
}

/*.actionCall {
    width: 280px;
    height: 371px;
    float: right;
    text-align: center;
    padding-top: 150px;
}*/

.actionCall {
    width: 350px;
    float: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

    ul li {
        padding: 10px 0;
    }

    input[type=text] {
        width: 40px;
    }